@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #12a2f9;
}

body {
  font-family: "JF Flat", Raleway, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 1.2rem;

  height: 100vh;
  width: 100%;

  position: relative;
  /*On the Y-axis to hide the scroll bar on animating the signup steps and on the X-axis to hide any overflows horizontally*/
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: var(--primary-color);
  clip-path: polygon(50% 0, 100% 0%, 100% 100%, 45% 100%);
}

img.logo {
  height: 140px;
  width: 140px;
}

div#full-pg {
  height: 100vh;
}

div#main-content {
}

a {
  color: #222222;
  transition: all 0.4s;
}

a.nav-header-link {
  color: white;
  transition: all 0.4s;
}

a.pass-reset-link {
  color: var(--primary-color);
  font-size: 1rem;
}

a:hover {
  color: #95caf7;
  text-decoration: none;
}

div.get-started {
  /* position: absolute; */
  /* z-index: 1; */
  /* margin-top: 80px; */
  /* margin-left: 435px; */
  position: relative;
  width: 100%;
  margin: 50px auto;
  text-align: center;
  z-index: 1;
}

div.get-started button {
  /* TODO: Color might change */
  border: 1px solid var(--primary-color);
}

div.overlay .row img {
  width: 400px;
  height: 400px;
}

.primary-color {
  color: var(--primary-color);
}

.content h1 {
  font-family: "JF Flat", Raleway, sans-serif;
}

.content p {
  width: 500px;
}

.content button {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 20px;
}

/* Background styles(Drug Capsules) */
.full-width {
  top: 0;
  left: 0;
  /*The additional 4vh here is to account for the negative margin given to the 'Tabib' logo in the logo.jsx component*/
  min-height: 104vh;
  min-width: 100%;
  background: url("./images/background.png") repeat;
  background-size: 40px;
}

.box {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -43%);
  height: 530px;
  width: 500px;
  margin-top: 20px;
  background: #f8f8f8;
  padding: 10px 20px;
  /*border: 1px solid #dddddd;*/
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px #cccccc;
}

.btn-group-custom {
  text-align: center;
  padding: 5px;
  background: white;
  color: var(--primary-color);
  border: 1px solid #dddddd;
  border-radius: 30px;
  width: 55%;
  margin: auto;
  box-shadow: 3px 3px 3px 1px #cccccc;
}

.btn-group-custom button {
  width: 105px;
  border-radius: 30px;
}

.btn-group-custom button:first-child {
  margin-right: 2px;
}

.btn-group-custom button:last-child {
  margin-left: 2px;
}

.btn-selected {
  background: var(--primary-color);
  font-weight: bold;
  border-radius: 30px;
  color: white !important;
}

.btn-selected > a {
  color: white;
}

small.input-info {
  font-size: 0.7rem !important;
  margin-left: 37px;
}

.custom-submit-btn {
  padding: 10px 20px;
  color: white;
  background: var(--primary-color);
  border-radius: 30px;
}

div.progress-wrapper {
  height: 30px;
  width: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
}

div.progress-wrapper > span.progress-span {
  cursor: pointer;
  align-self: center;
  width: 10px;
  height: 10px;
  padding: 7px;
  border: 3px solid var(--primary-color);
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 15px;
  transition: 0.5s ease;
}

div.progress-wrapper > span::after {
  content: "";
  display: block;
  height: 3px;
  padding-right: 10px;
  border-right: 33px solid var(--primary-color);
}

div.progress-wrapper > span:last-child::after {
  border: none;
}

.current-step {
  background: var(--primary-color);
}

div.submit-wrapper {
  position: absolute;
  top: 74%;
  /*Centering it at the middle horizontally*/
  left: 50%;
  transform: translateX(-50%);
}

/*The main diagnosis area styles*/
.main-diag {
  padding: 0 15px;
  width: 1200px;
  height: 500px;
  border-radius: 30px;
}

.user-area-wrapper {
  background: var(--primary-color);
  width: 340px;
  height: 500px;
  padding: 20px;
  float: left;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.usr-profile-img {
  /*Write some fancy hover effect here...*/
}

.usr-profile-img:hover {
}

.diagnosis-box {
  /*Exact width, change/refactor it later to use flexbox/grid system as they are more effective*/
  width: 830px;
  float: right;
}

/*Clear the above float thingie(Not confirmred)Do confirm it*/
.diagnosis-box::after {
  clear: both;
}

.message-box {
  background: var(--primary-color);
  font-size: 1rem;
  /*width: 220px;*/
  width: auto;
  border-radius: 30px;
  border-top-left-radius: 0;
  position: absolute;
  top: 25px;
  left: 30%;
  color: white;
}

.btn-action {
  position: absolute;
  top: 77%;
  right: 3%;
}

.btn-action > button {
  border-radius: 30px !important;
}

.search-container {
  position: absolute;
  top: 77%;
  right: 3%;
  width: 65%;
}

.symptoms-list-container {
  position: absolute;
  top: 25px;
  left: 32%;
  width: 65%;
  display: flex;
  flex-wrap: wrap;
}

.symptom-container {
  font-size: 1.1rem;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 35px;
  padding: 5px 12px;
  min-width: 50px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.symptom-container:hover {
  color: skyblue;
  border: 1px solid skyblue;
}

/*------------------------------------------------*/
/*----------------Animation Styles----------------*/
/*------------------------------------------------*/

/*Appear state*/
/*When the element first mounted into the DOM*/
/*.slide-appear {
    opacity: 0;
}

.slide-appear-active {
    opacity: 1;
    transition: all 1s linear;
}
*/
/*Enter state*/
.slide-enter {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
}

.slide-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: all 0.5s linear;
}

/*Leave state*/
.slide-exit {
  opacity: 0;
  transform: scale(1) translateY(0);
}

.slide-exit-active {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
  transition: all 0.5s linear;
}

.slide-exit-done {
  opacity: 0;
}

/*------------------------------------------------------------------*/
/*---------Corona map and its summary sidebar custom styles---------*/
/*------------------------------------------------------------------*/
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  width: 5px;
  background: #444444;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #444444;
}

.corona-btn {
  position: fixed !important;
  top: 20px !important;
  right: 10px !important;
  z-index: 1 !important;
  margin: 0 !important;
}

.map-container {
  height: 100vh;
  width: 100vw;
}

.open-sidetab {
  width: 250px !important;
}

.close-sidetab {
  width: 0px !important;
}

@media only screen and (max-width: 992px) {
  .open-sidetab {
    width: 100vw !important;
  }

  .close-sidetab {
    width: 0px !important;
  }
}

/*---------------------------------------------------------------*/
/*----------------------Drug Alarm part--------------------------*/
/*---------------------------------------------------------------*/
/*.span-link {
  color: #222222;
  transition: 0.2s all ease-out;
  cursor: pointer;
}

.span-link:hover {
  color: red;
}
*/
