@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #12a2f9;
}

body {
  font-family: Raleway, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1.2rem;

  height: 100vh;
  width: 100%;

  position: relative;
  /*On the Y-axis to hide the scroll bar on animating the signup steps and on the X-axis to hide any overflows horizontally*/
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: var(--primary-color);
  clip-path: polygon(50% 0, 100% 0%, 100% 100%, 45% 100%);
}

img.logo {
  height: 140px;
  width: 140px;
}

div#full-pg {
  height: 100vh;
}

div#main-content {
}

a {
  color: #222222;
  transition: all 0.4s;
}

a.nav-header-link {
  color: white;
  transition: all 0.4s;
}

a.pass-reset-link {
  color: var(--primary-color);
  font-size: 1rem;
}

a:hover {
  color: #95caf7;
  text-decoration: none;
}

div.get-started {
  /* position: absolute; */
  /* z-index: 1; */
  /* margin-top: 80px; */
  /* margin-left: 435px; */
  position: relative;
  width: 100%;
  margin: 50px auto;
  text-align: center;
  z-index: 1;
}

div.get-started button {
  /* TODO: Color might change */
  border: 1px solid var(--primary-color);
}

div.overlay .row img {
  width: 400px;
  height: 400px;
}

.primary-color {
  color: var(--primary-color);
}

.content h1 {
  font-family: "JF Flat", Raleway, sans-serif;
}

.content p {
  width: 500px;
}

.content button {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 20px;
}

/* Background styles(Drug Capsules) */
.full-width {
  top: 0;
  left: 0;
  /*The additional 4vh here is to account for the negative margin given to the 'Tabib' logo in the logo.jsx component*/
  min-height: 104vh;
  min-width: 100%;
  background: url("./images/background.png") repeat;
  background-size: 40px;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -43%);
  height: 530px;
  width: 500px;
  margin-top: 15px;
  background: #f8f8f8;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  box-shadow: 6px 6px 6px 3px #cccccc;
}

.btn-group-custom {
  text-align: center;
  padding: 5px;
  background: white;
  color: var(--primary-color);
  border: 1px solid #dddddd;
  border-radius: 30px;
  width: 55%;
  margin: auto;
  box-shadow: 4px 4px 4px 1px #cccccc;
}

.btn-group-custom button {
  margin-right: 5px;
  width: 105px;
  border-radius: 30px;
}

.btn-selected {
  background: var(--primary-color);
  font-weight: bold;
  border-radius: 30px;
  color: white !important;
}

.btn-selected > a {
  color: white;
}

small.input-info {
  font-size: 0.7rem !important;
  margin-left: 37px;
}

.signup-btn {
  padding: 10px 20px;
  color: white;
  background: var(--primary-color);
  border-radius: 30px;
}

div.progress-wrapper {
  height: 30px;
  width: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
}

div.progress-wrapper > span.progress-span {
  cursor: pointer;
  align-self: center;
  width: 10px;
  height: 10px;
  padding: 7px;
  border: 3px solid var(--primary-color);
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 15px;
  transition: 0.5s ease;
}

div.progress-wrapper > span::after {
  content: "";
  display: block;
  height: 3px;
  padding-right: 10px;
  border-right: 33px solid var(--primary-color);
}

div.progress-wrapper > span:last-child::after {
  border: none;
}

.current-step {
  background: var(--primary-color);
}

div.submit-wrapper {
  position: absolute;
  top: 74%;
  /*Centering it at the middle horizontally*/
  left: 50%;
  transform: translateX(-50%);
}

/*The main diagnosis area styles*/
.main-diag {
  padding: 0;
  width: 1150px;
  height: 500px;
  border-radius: 30px;
}

.user-area-wrapper {
  background: var(--primary-color);
  width: 400px;
  height: 500px;
  padding: 20px;
  float: left;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.emu-pic {
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 50%;
}

.message-box {
  background: var(--primary-color);
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  width: 220px;
  border-radius: 30px;
  border-top-left-radius: 0;
  position: absolute;
  top: 40px;
  left: 37%;
  color: white;
}

.btn-action {
  position: absolute;
  top: 77%;
  right: 3%;
}

.btn-action > button {
  border-radius: 30px !important;
}

/*------------------------------------------------*/
/*----------------Animation Styles----------------*/
/*------------------------------------------------*/

/*Appear state*/
/*When the element first mounted into the DOM*/
/*.slide-appear {
    opacity: 0;
}

.slide-appear-active {
    opacity: 1;
    transition: all 1s linear;
}
*/
/*Enter state*/
.slide-enter {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
}

.slide-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: all 0.5s linear;
}

/*Leave state*/
.slide-exit {
  opacity: 0;
  transform: scale(1) translateY(0);
}

.slide-exit-active {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
  transition: all 0.5s linear;
}

.slide-exit-done {
  opacity: 0;
}

/*------------------------------------------------------------------*/
.corona-sidetab {
  /*  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;*/
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  width: 5px;
  background: #444444;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #444444;
}

@media only screen and (max-width: 768px) {
  /*  body {
    overflow-y: auto;
  }*/

  /*  .covid-container {
  }*/
}
